@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    color: whitesmoke;
}

.btn-primary:hover {
    color: whitesmoke;
    background-color: black;
    border: 1px black;
}
.dot{
    width: 5px;
    height: 5px;
    background-color: rgb(57, 57, 57);
    border-radius: 50%;
}

::-webkit-scrollbar {
    display: none;
}