@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    color: whitesmoke;
}

.btn-primary:hover {
    color: whitesmoke;
    background-color: black;
    border: 1px black;
}